* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Montserrat";
  background-color: $main;
  color: $white;
  margin-bottom: 100px;
}

/* HEADER */

.header {
  padding: 30px 0;
}

.title {
  text-align: center;
}

/* MAIN */

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
  user-select: none;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 250px;
}

button {
  border: 2px $white solid;
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px;
  color: $black;
  cursor: pointer;
  text-transform: uppercase;
  justify-content: center;
  font-size: 20px;
  width: 250px;
  transition: background-color 0.5;

  &:hover {
    background: lighten($darkBlue, 5%);
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px $white;
  }
}

.color-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 12px;
  padding: 0;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.clear-button {
  border: 2px $red solid;
  &:hover {
    background: lighten($red, 5%);
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px $red;
  }

  &:active {
    background: darken($red, 5%);
  }
}

.range-block {
  position: relative;
  display: flex;
  margin-top: 10px;
}

.range-slider {
  height: 2px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  user-select: none;

  &::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid $red;
    border-radius: 25px;
    background: #404040;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: $darkBlue;
  }
}

.progress-bar {
  height: 2px;
  position: absolute;
  background-color: $blue;
  border-radius: 2px;
  user-select: none;
  width: 25%;
}

.grid-size {
  font-size: 20px;
  margin-top: 25px;
  text-align: center;
  font-weight: 700;
}

.grid-container {
  width: 500px;
  height: 500px;
  display: grid;
  background-color: $white;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 13px 18px;
  user-select: none;
}

.grid-element {
  background-color: $white;
  border: 1px solid lightgrey;
  user-select: none;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
}

.github-icon {
  animation: blinking 5s infinite alternate;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 15px 2px $darkBlue;
  }
}

/* HIDDEN */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  line-height: 20px;

  &.opened {
    transition: all 0.25s;
    visibility: visible;
    opacity: 1;
  }

  &-wrapper {
    background: linear-gradient(180deg, #30373f 0%, #000000 99.82%);
    border-radius: 12px;
    padding: 32px;
    box-shadow: 0 0 10px 1px;
    width: 400px;
    height: 270px;
  }

  &-description {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    color: $white;
    margin-bottom: 30px;
  }

  &-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &__name {
      font-size: 20px;
      padding: 10px;
      text-align: center;
      color: $black;
      outline: none;
    }

    &__format {
      font-size: 20px;
      padding: 10px;
      outline: none;
    }
  }

  &-button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px $white solid;
    background-color: $white;
    border-radius: 6px;
    padding: 12px 36px;
    line-height: 19px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.25s;

    &:hover {
      background: lighten($darkBlue, 5%);
      transform: scale(1.05);
      box-shadow: 0 0 10px 1px $white;
    }

    &:active {
      background: darken($darkBlue, 5%);
    }
  }
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;

  &.opened {
    visibility: visible;
    opacity: 1;
    z-index: 9;
  }
}

.active {
  background-color: $darkBlue;
  box-shadow: 0 0 20px 5px;
}

canvas {
  display: none;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .main {
    justify-content: center;
  }

  .progress-bar {
    display: none;
  }
}

@media (max-width: 850px) {
  .main {
    gap: 65px;
  }

  button {
    width: 187px;
  }

  .options {
    width: 150px;
    gap: 16px;
  }

  .grid-size {
    margin-bottom: -4px;

    &__value {
      margin-bottom: -4px;
    }
  }

  .grid-container {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 50px;
  }

  .main {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .grid-container {
    width: 340px;
    height: 340px;
  }

  .modal-wrapper {
    width: 320px;
    height: 290px;
  }

  .modal-block__format,
  .modal-block__name {
    font-size: 16px;
  }
}

/* ANIMATIONS */

@keyframes blinking {
  from {
    fill: $black;
  }
  to {
    fill: $white;
    box-shadow: 0 0 15px 5px $darkBlue;
  }
}
